<script src="../plugins/jquery/jquery.min.js"></script>
<script src="../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../plugins/adminlte/dist/js/adminlte.min.js"></script>
<script src="../plugins/topbar/topbar.min.js"></script>
<script src="../plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="../plugins/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../plugins/bootstrap-validator/js/bootstrapValidator.min.js"></script>
<script src="../plugins/bootstrap-validator/js/zh_CN.js"></script>
<script src="../plugins/bootstrap-upload/js/fileinput.min.js"></script>
<script src="../plugins/bootstrap-upload/js/locales/zh.js"></script>
<script src="../plugins/wangEditor-2/dist/js/wangEditor.min.js"></script>
<script src="../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../plugins/topbar/topbar.min.js"></script>
<script src="../plugins/moment/moment.min.js"></script>
<script src="../plugins/moment/zh-cn.js"></script>
<script src="../plugins/jquery-deserialize/jquery.deserialize.min.js"></script>
<script src="../plugins/fastclick/fastclick.js"></script>
<script>
    $(function () {
        function resetToDefaults() {
            topbar.config({
                autoRun: true,
                barThickness: 3,
                barColors: {
                    '0': 'rgba(26,  188, 156, .9)',
                    '.25': 'rgba(52,  152, 219, .9)',
                    '.50': 'rgba(241, 196, 15,  .9)',
                    '.75': 'rgba(230, 126, 34,  .9)',
                    '1.0': 'rgba(211, 84,  0,   .9)'
                },
                shadowBlur: 10,
                shadowColor: 'rgba(0,   0,   0,   .6)'
            })
        }

        // Page load
        resetToDefaults()
        topbar.show()
        setTimeout(function () {
            $('.wrapper').fadeIn('slow')
            topbar.hide()
        }, 500)
    })
</script>
</body>
</html>

