<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">

    </ol>
</section>
<section class="content container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="user_table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="panel-body " style="padding-bottom:0px;">
                                <div id="sysLogTableToolbar" class="btn-group">
                                    <form class="form-inline" role="form">
                                        <div style="margin-bottom: 10px;" id="search_hide">
                                            <div class="form-group">
                                                <label class="sr-only" for="username">操作人</label>
                                                <input type="text" class="form-control w148" id="username" name="username" placeholder="操作人">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="type">操作人</label>
                                                <select name="type" id="type">
                                                    <option value="">请选择</option>
                                                    <option value="2">访问</option>
                                                    <option value="3">操作</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="startTime">开始时间</label>
                                                <input type="text" class="form-control w148" id="startTime" name="startTime" readonly="readonly" placeholder="开始时间">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="endTime">开始时间</label>
                                                <input type="text" class="form-control w148" id="endTime" name="endTime" readonly="readonly" placeholder="结束时间">
                                            </div>
                                            <button id="btn_reset" type="button" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>重置
                                            </button>
                                            <button id="search" type="button" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="sysLogTable" class="table table-bordered table-striped table-hover dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="user_table_info">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
</section>

<script src="../../js/app/log/sysLogList.js"></script>