<div id="add">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <li class="fa fa-remove"></li>
        </button>
        <h5 class="modal-title">编辑角色</h5>
    </div>
    <div class="modal-body">
        <form id="roleForm" name="roleForm" class="form-horizontal">
            <input type="hidden" name="id" value=""/>
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="roleName" class="col-sm-3 control-label">角色名称</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="roleName" name="name" placeholder="角色名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="officeName" class="col-sm-3 control-label">机构名称</label>
                        <div class="col-sm-8">
                            <input id="officeName" class="form-control" name="officeName" readonly="readonly"
                                   placeholder="请选择机构"/>
                            <input id="officeId" type="hidden" name="officeId">
                            <!-- 这是机构下拉框 -->
                            <div id="officeContent" class="menuContent"
                                 style="display: none; position: absolute; z-index: 200;">
                                <ul id="officeTree" class="ztree tree-box" style="width: 250px !important;"></ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pRoleName" class="col-sm-3 control-label">上级名称</label>
                        <div class="col-sm-8">
                            <input id="pRoleName" class="form-control" name="pName" readonly="readonly"
                                   placeholder="请选择上级角色">
                            <input id="pid" type="hidden" name="pid">
                            <div id="pRoleContent" class="menuContent"
                                 style="display: none; position: absolute; z-index: 200;">
                                <ul id="pRoleTree" class="ztree tree-box" style="width: 250px !important;"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role_status" class="col-sm-3 control-label">状态</label>
                        <div class="col-sm-9" style="position: relative">
                            <input type="checkbox" class="form-control" id="role_status_switch"
                                   placeholder="角色状态" checked>
                            <input type="hidden" id="role_status" name="status" value="1">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <labl for="desc" class="col-sm-3 control-label">角色描述</labl>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="desc" name="desc" style="border-color:#d2d6de;" rows="3"
                                      cols="33"></textarea>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 这是父级菜单下拉框 -->

            <!-- /.box-body -->
            <div class="box-footer text-right">
                <!--以下两种方式提交验证,根据所需选择-->
                <button type="button" class="btn btn-default" data-btn-type="cancel" id="addCancel"
                        data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" data-btn-type="save" id="editSubmit">提交</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</div>
<script src="../../js/app/sysRole/sysRoleInfo.js"></script>